@font-face
  font-family: Raleway
  src: url("/assets/fonts/Raleway/Raleway-Regular.ttf") format('truetype'), url('/assets/fonts/Raleway/Raleway-Regular.woff') format('woff')
  font-style: normal
  font-weight: 400

@font-face
  font-family: Raleway
  src: url("/assets/fonts/Raleway/Raleway-Bold.ttf") format('truetype'), url('/assets/fonts/Raleway/Raleway-Bold.woff') format('woff')
  font-style: normal
  font-weight: 700

@font-face
  font-family: Montserrat
  src: url("/assets/fonts/Montserrat/Montserrat-Regular.ttf") format('truetype'), url('/assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff')
  font-style: normal
  font-weight: 400

@font-face
  font-family: Montserrat
  src: url("/assets/fonts/Montserrat/Montserrat-Bold.ttf") format('truetype'), url('/assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff')
  font-style: normal
  font-weight: 700

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/"
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'
@import '~@fortawesome/fontawesome-free/scss/solid.scss'
@import '~@fortawesome/fontawesome-free/scss/brands.scss'


$hamburger-padding-x           : 15px !default
$hamburger-padding-y           : 15px !default
$hamburger-layer-width         : 40px !default
$hamburger-layer-height        : 4px !default
$hamburger-layer-spacing       : 6px !default
$hamburger-layer-color         : #fff !default
$hamburger-layer-border-radius : 4px !default
$hamburger-hover-opacity       : 0.7 !default
$hamburger-active-layer-color  : $hamburger-layer-color !default
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default

$hamburger-types: spring



@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers'


body, http
  margin: 0
  padding: 0
  font-family: Raleway, sans-serif
  font-size: 16px
  line-height: 17.5px
  color: #000
  scroll-behavior: smooth
  opacity: 1



/* Wide screen */
@media only screen and (max-width: 1798px)
  #workDirections
    .mycard
      margin-top: 28px
      .select
        background: rgba(17, 17, 18, 1) 0 0 no-repeat
        width: 100%
        //height: 419px
        &:hover
          background-color: #EDB500
          background-image: none
          border-radius: 30px



/* Wide screen */
@media only screen and (max-width: 1610px)
  #main
    .menu
      a
        font-size: 18px

  header
    .letterAndPhone
      .phone
        font-size: 18px
      .fa-phone
        font-size: 17px
      .fa-envelope
        font-size: 17px
      a .btn-zayavka
        font-size: 18px


  footer
    .contactsFooter
        .footLogoSmall
          font-size: 15px

  #workDirections
    .blackStyle
      .mycard
        .select
          .s-text
            line-height: 20px
            font-size: 22px



/* Wide screen */
@media only screen and (max-width: 1521px)
  footer
    .contactsFooter
      .footLogoSmall
        font-size: 14px


/* Wide screen */
@media only screen and (max-width: 1487px)
  header
    .letterAndPhone
      .phone
        font-size: 18px
      .fa-phone
        font-size: 15px
      .fa-envelope
        font-size: 15px

/* Wide screen */
@media only screen and (max-width: 1477px)
  #main
    .title
      .nameCompany
        font-size: 81px
      .company55
        font-size: 81px

  #main
    .menu
      a
        font-size: 14px

  header
    .letterAndPhone
      .phone
        font-size: 15px
      .fa-phone
        font-size: 13px
      .fa-envelope
        font-size: 13px
      a .btn-zayavka
        font-size: 15px





/* Wide screen */
@media only screen and (max-width: 1431px)
  footer
    .contactsFooter
      .footLogoSmall
        font-size: 13px


/* Meduim devices, desktop */
@media only screen and (max-width: 1340px)
  footer
    .contactsFooter
      .footLogoSmall
        font-size: 11px

/* Wide screen */
@media only screen and (max-width: 1301px)
  header
    nav
      .logo
        img
          width: 140px
    .letterAndPhone
      .phone
        font-size: 14px

/* Wide screen */
@media only screen and (max-width: 1238px)
  header
    .letterAndPhone
      .phone
        font-size: 13px

/* Wide screen */
@media only screen and (max-width: 1200px)
  #workDirections
    .blackStyle
      .mycard
        .select
          &:hover


          .s-text
            line-height: 19px
            font-size: 22px
            padding-right: 34px

  #main
    .title
      .nameCompany
        font-size: 65px
      .company55
        font-size: 65px

  #main
    .menu
      a
        font-size: 13px

  header
    .letterAndPhone
      .phone
        font-size: 13px
      .fa-phone
        font-size: 13px
      .fa-envelope
        font-size: 13px
      a .btn-zayavka
        font-size: 14px

  header
    .letterAndPhone
      .fa-phone
        margin-left: 0px
        margin-right: 5px

  #aboutUs .whiteStyle .s-quality
    font-size: 45px

  #ourWorks
    .whiteStyle
      .s-quality
        font-size: 50px
        line-height: 53px

/* Wide screen */
@media only screen and (max-width: 1199px)
  #workDirections
    .blackStyle
      .mycard
        margin-top: 28px
        .select
          background: rgba(17, 17, 18, 1) 0 0 no-repeat
          width: 100%
          height: 419px
          &:hover
            background-color: rgba(17, 17, 18, 0)
            background-image: url("/assets/img/selectDirection.png")
            background-size: contain
          .s-text
            font-size: 23px
            line-height: 27px
  footer
    .contactsFooter
      .footLogoSmall
        font-size: 14px

/* Meduim devices, desktop */
@media only screen and (max-width: 1054px)
  #main
    .menu
      a
        font-size: 16px

  header
    .letterAndPhone
      .phone
        font-size: 16px
      .fa-phone
        font-size: 15px
      .fa-envelope
        font-size: 15px
      a .btn-zayavka
        font-size: 16px

/* Meduim devices, desktop */
@media only screen and (max-width: 1024px)
  #ourPartners
    .whiteStyle
      .s-logo
        img
          padding: 50px 37px
  #workDirections
    .blackStyle
      .mycard
        .select
          height: 372px

          .s-text
            line-height: 19px
            font-size: 19px
            padding-right: 34px


  #aboutUs
    .whiteStyle .s-info
      font-size: 95px
      line-height: 95px

/* Meduim devices, desktop */
@media only screen and (max-width: 1020px)
  #aboutUs
    .whiteStyle .s-info
      font-size: 130px

  #ourPartners
    .whiteStyle .s-logo img
      font-size: 140px
      padding: 50px 30px





/* Meduim devices, desktop */
@media only screen and (max-width: 992px)
  #main
    .title
      .nameCompany
        font-size: 60px
        -webkit-text-fill-color: #EFEFEF
        -webkit-text-stroke-width: 2px
        -webkit-text-stroke-color: #EFEFEF
        -webkit-text-stroke-: #EFEFEF
      .company55
        font-size: 60px

/* Meduim devices, desktop */
@media only screen and (max-width: 991px)
  #main
    nav
      padding-bottom: 0px
  header
    .pt-23
      padding-top: 0px


/* Meduim devices, desktop */
@media only screen and (max-width: 835px)
  #main
    .title
      .nameCompany
        font-size: 50px
        -webkit-text-fill-color: #EFEFEF
        -webkit-text-stroke-width: 2px
        -webkit-text-stroke-color: #EFEFEF
        -webkit-text-stroke-: #EFEFEF
      .company55
        font-size: 50px

/* Small devises, Tablets */
@media only screen and (max-width: 768px)
  #main
    .title
      .nameCompany
        font-size: 40px
      .company55
        font-size: 40px

  #ourWorks
    .whiteStyle
      .fullWorks
        text-align: center
  footer
    .smallmap
      margin-top: 40px
    .burakovstudio-align
      text-align: center
      margin-top: 40px

  #aboutUs
    .whiteStyle
      .s-title
        margin-bottom: 20px
      .s-quality
        font-size: 26px
        line-height: 33px
      .s-text
        font-size: 21px
        line-height: 25px
      .s-info
        margin-top: 30px
        font-size: 100px
        line-height: 110px
      .s-info-text
        font-size: 18px
  #contacts
    form
      .btn-contacts
        margin-bottom: 30px

  #workDirections
    .blackStyle
      .s-title
        font-size: 62px
      .mycard
        .select
          height: 372px
          .s-text
            padding-right: 34px

  footer
    .copyright
      a
        img
          margin-top: 20px
          text-align: center

@media only screen and (max-width: 665px)
  #contacts
    .congratulations
      font-size: 62px
      font-size: 65px


@media only screen and (max-width: 600px)
  header
    nav
      .letterAndPhone
        .phone
          font-size: 16px
        .fa-phone, .fa-envelope
          font-size: 12px


/* Phones*/
@media only screen and (max-width: 576px)
  #workDirections
    .blackStyle
      .s-title
        font-size: 62px
        line-height: 71px
  #main
    .title
      .nameCompany
        font-size: 34px
      .company55
        font-size: 34px
  footer
    .burakovstudio-align
      text-align: left
  header
    nav
      .letterAndPhone
        .phone
          font-size: 16px
        .fa-phone, .fa-envelope
          font-size: 12px

/* Phones*/
@media only screen and (max-width: 567px)
  #workDirections
    .blackStyle
      .mycard
        .select
          height: 291px
          width: 100%
          .s-number
            font-size: 135px
            line-height: 135px
          .s-text
            font-size: 16px
            line-height: 18px
            padding-right: 202px
  #contacts
    .congratulations
      font-size: 48px
      line-height: 50px

  //footer
  //  .text-align-menu, .text-align-rekvizity
  //    text-align: center

/* Phones*/
@media only screen and (max-width: 508px)
  #contacts
    .blackStyle
      .s-title
        font-size: 50px
        line-height: 51px
      form input, textarea
        font-size: 14px
      form
        .btn-contacts
          font-size: 19px
          margin-bottom: 50px
  #workDirections
    .blackStyle
      .s-title
        font-size: 32px
        line-height: 33px
      .mycard
        .select
          height: 291px
          width: 100%
        .s-number
          font-size: 135px
          line-height: 135px
        .s-text
          font-size: 16px
          line-height: 16px
          padding-right: 202px



  #ourPartners
    .whiteStyle
      .s-title
        font-size: 32px
        line-height: 33px
      .s-logo
        img
          max-width: 250px
  #ourWorks
    .whiteStyle
      .s-title
        font-size: 49px
        line-height: 49px
      .s-quality
        font-size: 28px
        line-height: 29px
  #aboutUs
    .whiteStyle
      .s-title
        font-size: 32px
        line-height: 33px
      .s-quality
        font-size: 26px
      .s-text
        font-size: 18px
        line-height: 18px
      .s-info
        margin-top: 30px
        font-size: 100px
        line-height: 110px
      .s-info-text
        font-size: 18px



/* Small devises, Tablets */
@media only screen and (max-width: 483px)
  #main
    .title
      .nameCompany
        font-size: 29px
      .company55
        font-size: 29px

  header
    nav
      .phone
        display: none
      .fa-phone, .fa-envelope
        display: none

/* Small devises, Tablets */
@media only screen and (max-width: 415px)
  #main
    .title
      .nameCompany
        font-size: 20px
        font-weight: 700
        -webkit-text-fill-color: #EFEFEF
        -webkit-text-stroke-width: 1px
        -webkit-text-stroke-color: #EFEFEF
        -webkit-text-stroke-: #EFEFEF

      .company55
        font-size: 20px

  #aboutUs
    .whiteStyle
      .s-title
        font-size: 46px
        line-height: 61px
        margin-bottom: 15px
      .s-quality
        line-height: 45px

      .last
        margin: 0
      .s-info
        font-size: 81px
        line-height: 75px

  #ourPartners
    .whiteStyle
      .s-logo
        margin: 5px

  #workDirections
    margin-top: 0
    .blackStyle
      .s-title
        font-size: 32px
        line-height: 33px
      .mycard
        .select
          height: 324px
          width: 100%
          .s-text
            margin-top: 10px
            padding-right: 46px
            font-size: 19px
            line-height: 25px

  #contacts
    .blackStyle
      .s-title
        font-size: 50px
        line-height: 51px
      form input, textarea
        font-size: 14px
      form
        margin-top: 0
        .btn-contacts
          font-size: 19px
          margin-bottom: 36px
  footer
    .copyright
      a
        img
          margin-top: 20px
          text-align: center


  .smallMapInFooter
    width: 300px
    height: 158px
    border-radius: 8px

/* Small phones */
@media only screen and (max-width: 375px)
  #workDirections
    margin-top: 0
    .blackStyle
      .s-title
        font-size: 32px
        line-height: 33px
      .mycard
        .select
          height: 280px
          width: 100%
          .s-text
            font-size: 15px
            line-height: 21px
  #contacts
    .congratulations
      font-size: 38px
      line-height: 40px

/* Small phones */
@media only screen and (max-width: 320px)
  #main
    .title
      .nameCompany
        font-size: 20px
        font-weight: 700
        -webkit-text-fill-color: #EFEFEF
        -webkit-text-stroke-width: 1px
        -webkit-text-stroke-color: #EFEFEF
        -webkit-text-stroke-: #EFEFEF

      .company55
        font-size: 20px

  #aboutUs
    .whiteStyle
      .s-title
        font-size: 79px
        line-height: 79px
        margin-bottom: 15px
      .s-quality
        line-height: 45px

      .last
        margin: 0

  #ourPartners
    .whiteStyle
      .s-logo
        margin: 5px

  #workDirections
    margin-top: 0
    .blackStyle
      .s-title
        font-size: 32px
        line-height: 33px
      .mycard
        .select
          height: 243px
          width: 100%
          .s-number
            line-height: 116px
          .s-text
            font-size: 15px
            line-height: 15px

  #contacts
    .blackStyle
      .s-title
        font-size: 50px
        line-height: 51px
      form input, textarea
        font-size: 14px
      form
        margin-top: 0
        .btn-contacts
          font-size: 19px
          margin-bottom: 36px
  footer
    .copyright
      a
        img
          margin-top: 20px
          text-align: center


  .smallMapInFooter
      width: 300px
      height: 158px
      border-radius: 8px


