<header id="main" class="contaner-fluid" style="background-image: url('assets/img/bgHeader.jpg');" >
   <nav class="container-fluid pt-23 ">
     <div class="row align-items-center">
       <div class="col-md-12 d-lg-none d-md-block">
         <button class="hamburger hamburger--spring" [class.is-active]="menuActive" type="button" (click)="showMenu()">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
           <div class="menuCollapse" [class.d-none]="!menuActive">
             <a href="#aboutUs">О нас</a>
             <a href="#workDirections">Направления</a>
             <a href="#ourWorks">Наши работы</a>
             <a href="#contacts">Контакты</a>
           </div>
          </span>
         </button><span class="titleMenu">Меню</span>
       </div>
       <div class="menu col-lg-4 offset-lg-1 d-md-none d-sm-none d-lg-block">
         <div class="container-fluid">
           <div class="row justify-content-start">
             <a href="#aboutUs">О нас</a>
             <a href="#workDirections">Направления</a>
             <a href="#ourWorks">Наши работы</a>
             <a href="#contacts">Контакты</a>
           </div>
         </div>
       </div>
       <div class="logo col-md-3 col-lg-2"><img src="assets/img/logo.png" class="logo" alt=""></div>
       <div class="letterAndPhone col-md-3 col-lg-4 offset-lg-1">
         <div class="container-fluid">
           <div class="row justify-content-end align-items-center">
             <a href="#contacts"><button class="btn-zayavka">Оставить заявку</button></a>
             <i class="fas fa-phone"></i><span class="phone">+7 (812) 309-68-55</span>
           </div>
         </div>
       </div>
     </div>
  </nav>
  <div class="container-fluid h-100 ">
    <div class="row h-100 align-items-center">
      <div class="title col-lg-8 offset-lg-1 ">
        <div class="nameCompany">Электромонтаж-<span class="company55">55</span></div>
        <div class="city">в Санкт-Петербурге</div>
      </div>
    </div>
  </div>

</header>
<section id="aboutUs">
  <div class="whiteStyle">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <div class="s-title">О нас</div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-lg-5 offset-lg-1">
            <div class="s-quality">профессионализм</div>
            <div class="s-text">ООО «Энергомонтаж-55» было основано в декабре 2018 профессионалами, работающих в сфере энергетики и электрификации с 2006</div>
          </div>
          <div class="col-lg-6">
            <div class="s-info">14</div>
            <div class="s-info-text">лет на рынке<br> электро-монтажных<br> работ</div>
          </div>
        </div>
        <div class="row  align-items-center">
          <div class="col-lg-5 offset-lg-1">
            <div class="s-quality">качество</div>
            <div class="s-text">С 2018г. было выполнено более 100 объектов по электрификации жилых, социально-значимых, промышленных объектов в Санкт-Петербурге и Ленинградской области.</div>
          </div>
          <div class="col-lg-6">
            <div class="s-info">> 100</div>
            <div class="s-info-text">Выполненных<br> объектов</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <div class="s-quality">надежность</div>
            <div class="s-text last">Нам доверяют, крупнейшие энергетические компании рынка</div>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="workDirections">
  <div class="blackStyle">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9 offset-lg-1">
          <div class="s-title">Направления деятельности</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 offset-lg-1">
          <div class="mycard">
            <div class="select">
              <div class="s-number">1</div>
              <div class="s-text">Проектирование объектов энергетики напряжением до 0,4-110кВ.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="mycard">
            <div class="select">
              <div class="s-number">2</div>
              <div class="s-text">Подключение новых абонентов к электрическим сетям.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1">
          <div class="mycard">
            <div class="select">
              <div class="s-number">3</div>
              <div class="s-text">Строительство кабельных и воздушных линий электропередач напряжением 0,4-110кВ (методом ГНБ).</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row last-row">
        <div class="col-lg-3 offset-lg-1">
          <div class="mycard">
            <div class="select">
              <div class="s-number">4</div>
              <div class="s-text">Поставка, монтаж, трансформаторных подстанций (КТПН, БКТП, БКРТП).</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="mycard">
            <div class="select">
              <div class="s-number">5</div>
              <div class="s-text">Восстановление дорожного покрытия, тротуаров. Выполнение озеленения прилегающей территории.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 offset-lg-1">
          <div class="mycard ">
            <div class="select">
              <div class="s-number">6</div>
              <div class="s-text">Проектирование объектов энергетики напряжением до 0,4-110кВ.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="ourWorks" >
  <div class="whiteStyle">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <div class="s-title">Наши работы</div>
        </div>
      </div>
      <div class="row typeWork first align-items-center pt-63">
          <div class="s-quality col-lg-5 offset-lg-1">строительство, реконструкция БКТП</div>
          <div class="s-text col-lg-5 offset-lg-1">Выполнение работ по строительсту 13 КЛ 0,4кВ  и реконструции БКТП методами ПИР, СМР, ПНР для ПАО «Ленэнерго»</div>
      </div>
      <div class="row typeWork align-items-center pt-63">
          <div class="s-quality col-lg-5 offset-lg-1">ремонт КЛ 10 кВ</div>
          <div class="s-text col-lg-5 offset-lg-1">Выполнение ремонтных работ поврежденной КЛ 10 кВ по методу СМР для ООО «Сотэкс»</div>
      </div>
      <div class="row typeWork align-items-center pt-63">
          <div class="s-quality col-lg-5 offset-lg-1">вынос сетей из под пятна застройки</div>
          <div class="s-text col-lg-5 offset-lg-1">Выполнение выносных работ для общеразвивающего дошкольного общеобразовательного учреждения на 220 мест методами СМР, ПНР для СПбГКУ «Фонд капитального строительства и реконструкции»</div>
      </div>
      <div class="row">
        <div class="s-title col-lg-10 offset-lg-1">Мы выполнили более 100 работ и многое еще <a href="#contacts"><span class="accent">впереди</span></a></div>
      </div>

    </div>
  </div>
  <app-map></app-map>
</section>

<section id="contacts">
  <div class="blackStyle" style="background-image: url('assets/img/bgContacts.jpg') ">
    <div class="container-fluid">
      <div class="row">
        <div class="s-title col-lg-6 offset-lg-1">Оставить заявку</div>
      </div>
      <div class="row">
        <div class="col-lg-5 offset-lg-1">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <label for="name">Имя</label>
            <input type="text" id="name" name="name"  placeholder="Введите имя" formControlName="name">
            <div *ngIf="form.get('name').invalid && form.get('name').touched" >
              <small class="error">не введено имя</small>
            </div>

            <label for="phone">Телефон</label>
            <input type="text" id="phone" name="name"  placeholder="Введите телефон" formControlName="phone">
            <div *ngIf="form.get('phone').invalid && form.get('phone').touched">
              <small *ngIf="form.get('phone').errors.minlength" class="error">Номер должен состоять не менее чем из {{form.get('phone').errors.minlength.requiredLength}} символов</small>
            </div>

            <label for="email">Email</label>
            <input type="text" id="email" name="email"  placeholder="Введите email" formControlName="email">
            <div *ngIf="form.get('email').invalid && form.get('email').touched">
              <small *ngIf="form.get('email').errors.required" class="error">не введен email</small>
              <small *ngIf="this.form.get('email').errors.email" class="error">неверный формат email</small>
            </div>

            <label for="description">Описание работы</label>
            <textarea id="description" name="description" placeholder="Опишите детали работ" formControlName="description"></textarea>

            <button class="btn-contacts" type="submit" [disabled]="form.invalid">Отправить заявку</button>
          </form>
        </div>
      </div>
  </div>
  </div>
</section>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 offset-lg-1">
        <div class="logosmall">
          <img src="assets/img/smalllogo.png">ООО «ЭНЕРГОМОТНАЖ-55»
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1">
        <div class="menufooter">
          <a href="#main">Главная</a>
          <a href="#aboutUs">О нас</a>
          <a href="#workDirections">Направления</a>
          <a href="#ourWorks">Наши работы</a>
          <a href="#contacts">Контакты</a>
        </div>
      </div>
      <div class="col-lg-2 ">
        <div class="contactsFooter">
          <p><i class="fas fa-phone"></i>+7 (812) 309-68-55</p>
          <p><i class="fas fa-envelope"></i> info@em55.ru</p>
          <p><i class="fas fa-location-arrow"></i>194292, Санкт-Петербург,<br> 6-й Верхний пер. 12, лит.Б<br> пом. 33-Н офис 1</p>
        </div>
      </div>
      <div class="col-lg-2 ">
        <app-small-map></app-small-map>
      </div>
      <div class="col-lg-2 text-center">
        <span class="copyright ">
          <a href="https://burakovstudio.ru/" target="_blank">
                <img src="assets/img/burakovStudio.png" alt=""  >
          </a>
         </span>
      </div>

    </div>
  </div>
</footer>


